/*GLOBAL STYLES*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*GENERAL STYLES*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

link {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/*BODY & CONTAINER*/
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #222;
}

/*HEADER*/
.header {
	position: sticky;
	top: 0;
	z-index: 10;
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.header-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem 4rem;
}

.header-logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: #1a202c;
	max-width: 300px;
}

.header-nav {
	flex: 0.3 1 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.header-nav > a {
	flex: 1 1 auto;
	text-decoration: none;
	text-align: center;
	color: #333;
	font-size: 1.1rem;
	font-weight: 500;
}

.header-nav a:hover {
	color: #0077cc;
}

/*Add and Remove by JavaScript*/
header.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

/*HERO*/
.hero {
	background-image:
		linear-gradient(to bottom, rgba(31, 41, 51, 0.5), rgba(0, 0, 0, 0.5)),
		url('/assets/images/hero-industrial.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	min-height: 400px;
	justify-content: center;
	align-items: center;
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	color: #fff;
	text-align: center;
	> h2 {
		font-size: 2.5rem;
	}
	> p {
		font-size: 1.5rem;
	}
}

/*COMPANY*/
.company-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	font-size: 1.1rem;
	color: #444;
}

/*PRODUCTS*/
.products {
	background-color: #f8f9fa;
}

.products-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5rem;
	> li {
		flex: 0.5 1 250px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		background: #fff;
		border: 1px solid #eee;
		text-align: center;
		border-radius: 10px;
		> img {
			width: 100%;
			object-fit: cover;
		}
		> div {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1rem;
		}
	}
}

/*CATALOG*/
.catalog {
	background-color: #e9ecef;
}

/*CONTACT*/
.contact {
	/*background-color: hsl(215 80% 25%);*/
	display: flex;
	flex-wrap: wrap;
}

.contact-wrapper {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	> ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		> li {
			flex: 1 1 45%;
			display: flex;
			gap: 1rem;
			align-items: center;
			background-color: #eeeeee;
			border-radius: 7px;
			padding: 1rem;
			> svg {
				display: flex;
				flex-shrink: 0;
				width: 50px;
				height: 50px;
				color: hsl(0, 0%, 100%);
				padding: 0.75rem;
				border-radius: 7px;
				background-color: hsl(215 80% 25%);
			}
			> div {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				> :nth-child(1) {
					color:#6a6a6a;
					font-size: 0.9rem;
				}
				> :nth-child(2) {
					font-weight: bold;
				}
			}
		}
	}
}

.map {
	flex: 1 1 50%;
	border: none;
}

.btn {
	background: #0077cc;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

.btn:hover {
	background: #005fa3;
}

/* === Footer === */
.footer {
	text-align: center;
	background: hsl(215 80% 25%);
	color: #fff;
}

.lat-pad {
	padding-left: 8dvw;
	padding-right: 8dvw;
}

.long-pad {
	padding-top: 6dvh;
	padding-bottom: 6dvh;
}