/*GLOBAL STYLES*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*GENERAL STYLES*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: inherit;
	display: flex;
	text-decoration: none;
}

textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
}

ul {
	list-style: none;
}

link {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/*BODY & CONTAINER*/
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #222;
}

/*HEADER*/
.header {
	position: sticky;
	top: 0;
	z-index: 10;
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.header-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem 4rem;
}

.header-logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: #1a202c;
	max-width: 300px;
}

.header-nav {
	flex: 0.3 1 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.header-nav > a {
	flex: 1 1 auto;
	text-decoration: none;
	text-align: center;
	color: #333;
	font-size: 1.1rem;
	font-weight: 500;
}

.header-nav a:hover {
	color: #0077cc;
}

/*Add and Remove by JavaScript*/
header.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

/*HERO*/
.hero {
	background-image:
		linear-gradient(to bottom, rgba(31, 41, 51, 0.5), rgba(0, 0, 0, 0.5)),
		url('../assets/images/hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	min-height: 400px;
	justify-content: center;
	align-items: center;
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	color: #fff;
	text-align: center;
	> h2 {
		font-size: 2.5rem;
	}
	> p {
		font-size: 1.5rem;
	}
}

/*COMPANY*/
.company-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	font-size: 1.1rem;
	color: #444;
}

/*CATALOG*/
.catalog {
	background-color: #f8f9fa;
}

.catalog-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.catalog-title {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	> h2 {
		font-size: 3rem;
		font-weight: bold;
	}
	> p {
		font-size: 1.1rem;
		color: #666;
	}
}

.catalog-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	width: 100%;
	gap: 1.5rem;
}

.catalog-more {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	background-color: #005fa3;
	border-radius: 7px;
	padding: 1rem;
	gap: 1rem;
	> a {
		font-size: 1.2rem;
		font-weight: bold;
		color: white;
	}
	> svg {
		width: 1.5rem;
		color: white;
		transition: transform 0.3s ease;
	}
}

.catalog-more:hover {
	background-color: #0077cc;
	> svg {
		transform: translateX(5px);
	}
}

.card {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: translateY(-5px);
	> .card-more > svg {
		transform: translateX(5px);
	}
}

.card-img {
	width: 100%;
	object-fit: cover;
}

.card-text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.7rem 1.4rem 0.2rem 1.4rem;
	> h3 {
		font-size: 1.2rem;
		font-weight: bold;
	}
	> p {
		color: #666;
		font-size: 1rem;
	}
}

.card-more {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	padding: 0.3rem 1.4rem 1rem 1.4rem;
	> a {
		font-weight: bold;
		color: #0077cc;
	}
	> svg {
		width: 1.2rem;
		color: #0077cc;
		transition: transform 0.3s ease;
	}
}

/*CONTACT*/
.contact {
	/*background-color: hsl(215 80% 25%);*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}

.contact-wrapper {
	flex: 1 1 max(45%, 500px);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	> ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		> li {
			flex: 1 1 45%;
			display: flex;
			gap: 1rem;
			align-items: center;
			background-color: #eeeeee;
			border-radius: 7px;
		}
	}
}

.box {
	flex: 1;
	display: flex;
	gap: 1rem;
	padding: 1rem;
	align-items: center;
}
.box > svg {
	display: flex;
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	color: hsl(0, 0%, 100%);
	padding: 0.75rem;
	border-radius: 7px;
	background-color: hsl(215 80% 25%);
}
.box > div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	> :nth-child(1) {
		color:#6a6a6a;
		font-size: 0.9rem;
	}
	> :nth-child(2) {
		font-weight: bold;
	}
}

.form {
	flex: 1 1 max(45%, 500px);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 7px;
	padding: 1rem;
	border: solid 1px #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	> input,
	> textarea {
		width: 100%;
		padding: 1rem;
		border: 1px solid #ccc;
		border-radius: 7px;
	}
	> button {
		display: flex;
		align-items: center;
		padding: 1rem;
		gap: 0.5rem;
		background-color: hsl(215 80% 25%);
		color: #fff;
		font-weight: bold;
		border-radius: 7px;
		transition: background-color 0.3s ease;
		> svg {
			width: 1rem;
			color: #fff;
			transition: transform 0.3s ease;
		}
	}
	> button:hover {
		background-color: hsl(215 80% 20%);
	}
}

.map {
	flex: 1 1 50%;
	border: none;
}

.btn {
	background: #0077cc;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

.btn:hover {
	background: #005fa3;
}

/* === Footer === */
.footer {
	text-align: center;
	background: hsl(215 80% 25%);
	color: #fff;
}

.lat-pad {
	padding-left: 10dvw;
	padding-right: 10dvw;
}

.long-pad {
	padding-top: 6dvh;
	padding-bottom: 6dvh;
}